
extends javascript

#
# node
#

snippet nodem  "create node module" !
/**
 *
 * @author fuyg
 * @date  `date +%Y-%m-%d`
 */

const abc = require('abc')

function example() {
  // TODO
}

module.exports = example

endsnippet
