extends vue

snippet templ "create .vue with standalone script and style"
<template>
  <div>
    <!-- // TODO -->
  </div>
</template>
<script src="vue.comp.js">
</script>
<style src="vue.comp.scss" scoped>

</style>
endsnippet

snippet template "create .vue with standalone script"
<template>
  <div>
    <!-- // TODO -->
  </div>
</template>
<script src="vue.comp.js">
</script>
<style scoped>

</style>
endsnippet
